body {
    background: url(http://www.irishnews.com/picturesarchive/irishnews/irishnews/2017/02/10/161005569-2b03f79d-d084-4f33-aa09-6b3911c1a5d2.jpg);
    background-size: 106% 325%;
    color: palevioletred;
}